force-app/main/default/flows/Blueprint_Start_Wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <interviewLabel
    >Blueprint Start Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Blueprint Start Wizard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Persona</name>
        <label>Create Persona</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Create_Step</targetReference>
        </connector>
        <inputAssignments>
            <field>Blueprint_Primary_Persona__c</field>
            <value>
                <elementReference>Primary_Persona</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Blueprint__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Step_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Persona_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Blueprint_Persona__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Persona_Step</name>
        <label>Create Persona Step</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <inputAssignments>
            <field>Blueprint_Persona__c</field>
            <value>
                <elementReference>Create_Persona</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Blueprint_Step__c</field>
            <value>
                <elementReference>Create_Step</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>Blueprint_Persona_Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Step</name>
        <label>Create Step</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Create_Persona_Step</targetReference>
        </connector>
        <inputAssignments>
            <field>Blueprint__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Step_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Step_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>Blueprint_Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Add_Step</name>
        <label>Add Step</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Persona</targetReference>
        </connector>
        <fields>
            <name>Step_Text</name>
            <fieldText
            >&lt;p&gt;Now that you have created your {!Persona_Name} Persona, you&apos;ll need to add the first step to your blueprint.&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://connect-java-32-dev-ed.file.force.com/sfc/servlet.shepherd/version/download/0680t000002iUE2?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;image.png&quot;&gt;&lt;/p&gt;&lt;p&gt;Once you&apos;ve finished, you&apos;ll be able to start building your blueprint, and adding more Steps and Personas!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step_Name</name>
            <dataType>String</dataType>
            <fieldText>Step Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Step_Description</name>
            <fieldText>Step Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Blueprint_Getting_Started</name>
        <label>Blueprint - Getting Started</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Step</targetReference>
        </connector>
        <fields>
            <name>Empty_Blueprint_Message</name>
            <fieldText
            >&lt;p&gt;Welcome to your new blueprint!  To get started, you&apos;ll need to create your first persona.  You can optionally make it primary.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Blueprint_Getting_Started_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Blueprint_Getting_Started_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Example</name>
                    <fieldText
                    >&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;img src=&quot;https://connect-java-32-dev-ed.file.force.com/sfc/servlet.shepherd/version/download/0680t000002iUDc?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;image.png&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Blueprint_Getting_Started_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Persona_Name</name>
                    <dataType>String</dataType>
                    <fieldText
                    >What would you like to name your persona?  (e.g. Customer, Sales Rep, Account Team)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Persona_Description</name>
                    <fieldText>Persona Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Primary_Persona</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Make Primary Persona?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Blueprint_Getting_Started_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Blueprint_Getting_Started</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
